:root{
    --bg-cell: #b3bead;
}

main{
    width: 1000px;
    margin: 0 auto;
    position: relative;
    height: 75vh;
}

h1, h2, p{
  text-align: center;
   font-family: Arial;
}

h1{
    font-size: 60px;
    margin-bottom: 50px;
}

h2{
    font-size: 20px;
    margin-bottom: 25px;
}

p{
    font-size: 16px;
    margin-bottom: 25px;
}

.obiwan{
   position: absolute;
    width: 300px;
}

.die{
    animation: die 2s forwards;
}

.blackstar{
    position: absolute;
    width: 150px;
    top: 250px;
    right: 25px;
}

.fall{
    animation: fall 2s forwards;
}

.container {
    display : grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
    border: 2px solid black;
    width: 300px;
    height: 300px;
    margin: auto;
    cursor: pointer;


}

.one, .two, .three, .four, .five, .six, .seven, .eight,
.two-one,.two-two,.two-three,.two-four,.two-five,.two-six,.two-seven,.two-eight,
.three-one,.three-two,.three-three,.three-four,.three-five,.three-six,.three-seven,.three-eight,
.four-one,.four-two,.four-three,.four-four,.four-five,.four-six,.four-seven,.four-eight,
.five-one,.five-two,.five-three,.five-four,.five-five,.five-six,.five-seven,.five-eight,
.six-one,.six-two,.six-three,.six-four,.six-five,.six-six,.six-seven,.six-eight,
.seven-one,.seven-two,.seven-three,.seven-four,.seven-five,.seven-six,.seven-seven,.seven-eight,
.eight-one,.eight-two,.eight-three,.eight-four,.eight-five,.eight-six,.eight-seven,.eight-eight{
    background-color: var(--bg-cell);
}



.one:hover, .two:hover, .three:hover, .four:hover, .five:hover, .six:hover, .seven:hover, .eight:hover,
.two-one:hover,.two-two:hover,.two-three:hover,.two-four:hover,.two-five:hover,.two-six:hover,.two-seven:hover,.two-eight:hover,
.three-one:hover,.three-two:hover,.three-three:hover,.three-four:hover,.three-five:hover,.three-six:hover,.three-seven:hover,.three-eight:hover,
.four-one:hover,.four-two:hover,.four-three:hover,.four-four:hover,.four-five:hover,.four-six:hover,.four-seven:hover,.four-eight:hover,
.five-one:hover,.five-two:hover,.five-three:hover,.five-four:hover,.five-five:hover,.five-six:hover,.five-seven:hover,.five-eight:hover,
.six-one:hover,.six-two:hover,.six-three:hover,.six-four:hover,.six-five:hover,.six-six:hover,.six-seven:hover,.six-eight:hover,
.seven-one:hover,.seven-two:hover,.seven-three:hover,.seven-four:hover,.seven-five:hover,.seven-six:hover,.seven-seven:hover,.seven-eight:hover,
.eight-one:hover,.eight-two:hover,.eight-three:hover,.eight-four:hover,.eight-five:hover,.eight-six:hover,.eight-seven:hover,.eight-eight:hover
 {
    background-color: black;
    opacity: 20%;
    border: 1px solid black;
}

.one {
    grid-column: 1/2;
    grid-row: 1/2;
    border: 1px solid black;
    border-top: none;
    border-left: none;
    background-color: var(--bg-cell);
}

.two {
    grid-column: 2/3;
    grid-row: 1/2;
    border: 1px solid black;
    border-top: none;
    border-left: none;

}
.three {
    grid-column: 3/4;
    grid-row:1/2;
    border: 1px solid black;
    border-top: none;
    border-left: none;
}
.four {
    grid-column: 4/5;
    grid-row:1/2;
    border: 1px solid black;
    border-top: none;
    border-left: none;
}
.five {
    grid-column: 5/6;
    grid-row:1/2;
    border: 1px solid black;
    border-top: none;
    border-left: none;
}
.six {
    grid-column: 6/7;
    grid-row:1/2;
    border: 1px solid black;
    border-top: none;
    border-left: none;
}
.seven {
    grid-column: 7/8;
    grid-row:1/2;
    border: 1px solid black;
    border-top: none;
    border-left: none;
}
.eight {
    grid-column: 8/9;
    grid-row:1/2;
    border: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
}
.two-one {
    grid-column: 1/2;
    grid-row:2/3;
    border: 1px solid black;
    border-top: none;
    border-left: none;

}
.two-two {
    grid-column: 2/3;
    grid-row:2/3;
    border: 1px solid black;
    border-top: none;
    border-left: none;
}
.two-three {
    grid-column: 3/4;
    grid-row: 2/3;
    border: 1px solid black;
    border-top: none;
    border-left: none;

}
.two-four {
    grid-column: 4/5;
    grid-row: 2/3;
    border: 1px solid black;
    border-top: none;
    border-left: none;
}
.two-five {
    grid-column: 5/6;
    grid-row: 2/3;
    border: 1px solid black;
    border-top: none;
    border-left: none;
}
.two-six {
    grid-column: 6/7;
    grid-row: 2/3;
    border: 1px solid black;
    border-top: none;
    border-left: none;
}
.two-seven {
    grid-column: 7/8;
    grid-row: 2/3;
    border: 1px solid black;
    border-top: none;
    border-left: none;
}
.two-eight {
    grid-column: 8/9;
    grid-row: 2/3;
    border: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
}
.three-one {
    grid-column: 1/2;
    grid-row: 3/4;
    border: 1px solid black;
    border-top: none;
    border-left: none;
}
.three-two {
    grid-column: 2/3;
    grid-row: 3/4;
    border: 1px solid black;
    border-top: none;
    border-left: none;
}
.three-three {
    grid-column: 3/4;
    grid-row: 3/4;
    border: 1px solid black;
    border-top: none;
    border-left: none;
}
.three-four {
    grid-column: 4/5;
    grid-row: 3/4;
    border: 1px solid black;
    border-top: none;
    border-left: none;
}
.three-five {
    grid-column: 5/6;
    grid-row: 3/4;
    border: 1px solid black;
    border-top: none;
    border-left: none;
}
.three-six {
    grid-column: 6/7;
    grid-row: 3/4;
    border: 1px solid black;
    border-top: none;
    border-left: none;
}
.three-seven {
    grid-column: 7/8;
    grid-row: 3/4;
    border: 1px solid black;
    border-top: none;
    border-left: none;
}
.three-eight {
    grid-column: 8/9;
    grid-row: 3/4;
    border: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
}
.four-one {
    grid-column: 1/2;
    grid-row: 4/5;
    border: 1px solid black;
    border-top: none;
    border-left: none;
}
.four-two {
    grid-column: 2/3;
    grid-row: 4/5;
    border: 1px solid black;
    border-top: none;
    border-left: none;
}
.four-three {
    grid-column: 3/4;
    grid-row: 4/5;
    border: 1px solid black;
    border-top: none;
    border-left: none;
}
.four-four {
    grid-column: 4/5;
    grid-row: 4/5;
    border: 1px solid black;
    border-top: none;
    border-left: none;
}
.four-five {
    grid-column: 5/6;
    grid-row: 4/5;
    border: 1px solid black;
    border-top: none;
    border-left: none;
}
.four-six {
    grid-column: 6/7;
    grid-row: 4/5;
    border: 1px solid black;
    border-top: none;
    border-left: none;
}
.four-seven {
    grid-column: 7/8;
    grid-row: 4/5;
    border: 1px solid black;
    border-top: none;
    border-left: none;
}
.four-eight {
    grid-column: 8/9;
    grid-row: 4/5;
    border: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
}
.five-one {
    grid-column: 1/2;
    grid-row: 5/6;
    border: 1px solid black;
    border-top: none;
    border-left: none;
}
.five-two {
    grid-column: 2/3;
    grid-row: 5/6;
    border: 1px solid black;
    border-top: none;
    border-left: none;
}
.five-three {
    grid-column: 3/4;
    grid-row: 5/6;
    border: 1px solid black;
    border-top: none;
    border-left: none;
}
.five-four {
    grid-column: 4/5;
    grid-row: 5/6;
    border: 1px solid black;
    border-top: none;
    border-left: none;
}
.five-five {
    grid-column: 5/6;
    grid-row: 5/6;
    border: 1px solid black;
    border-top: none;
    border-left: none;
}
.five-six {
    grid-column: 6/7;
    grid-row: 5/6;
    border: 1px solid black;
    border-top: none;
    border-left: none;
}
.five-seven {
    grid-column: 7/8;
    grid-row: 5/6;
    border: 1px solid black;
    border-top: none;
    border-left: none;
}
.five-eight {
    grid-column: 8/9;
    grid-row: 5/6;
    border: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
}
.six-one {
    grid-column: 1/2;
    grid-row: 6/7;
    border: 1px solid black;
    border-top: none;
    border-left: none;
}
.six-two {
    grid-column: 2/3;
    grid-row: 6/7;
    border: 1px solid black;
    border-top: none;
    border-left: none;
}
.six-three {
    grid-column: 3/4;
    grid-row: 6/7;
    border: 1px solid black;
    border-top: none;
    border-left: none;
}
.six-four {
    grid-column: 4/5;
    grid-row: 6/7;
    border: 1px solid black;
    border-top: none;
    border-left: none;
}
.six-five {
    grid-column: 5/6;
    grid-row: 6/7;
    border: 1px solid black;
    border-top: none;
    border-left: none;
}
.six-six {
    grid-column: 6/7;
    grid-row: 6/7;
    border: 1px solid black;
    border-top: none;
    border-left: none;
}
.six-seven {
    grid-column: 7/8;
    grid-row: 6/7;
    border: 1px solid black;
    border-top: none;
    border-left: none;
}
.six-eight {
    grid-column: 8/9;
    grid-row: 6/7;
    border: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
}
.seven-one {
    grid-column: 1/2;
    grid-row: 7/8;
    border: 1px solid black;
    border-top: none;
    border-left: none;
}
.seven-two {
    grid-column: 2/3;
    grid-row: 7/8;
    border: 1px solid black;
    border-top: none;
    border-left: none;
}
.seven-three {
    grid-column: 3/4;
    grid-row: 7/8;
    border: 1px solid black;
    border-top: none;
    border-left: none;
}
.seven-four {
    grid-column: 4/5;
    grid-row: 7/8;
    border: 1px solid black;
    border-top: none;
    border-left: none;
}
.seven-five {
    grid-column: 5/6;
    grid-row: 7/8;
    border: 1px solid black;
    border-top: none;
    border-left: none;
}
.seven-six {
    grid-column: 6/7;
    grid-row: 7/8;
    border: 1px solid black;
    border-top: none;
    border-left: none;
}
.seven-seven {
    grid-column: 7/8;
    grid-row: 7/8;
    border: 1px solid black;
    border-top: none;
    border-left: none;
}
.seven-eight {
    grid-column: 8/9;
    grid-row: 7/8;
    border: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
}
.eight-one {
    grid-column: 1/2;
    grid-row: 8/9;
    border-right: 1px solid black;

}
.eight-two {
    grid-column: 2/3;
    grid-row: 8/9;
    border-right: 1px solid black;

}
.eight-three {
    grid-column: 3/4;
    grid-row: 8/9;
    border-right: 1px solid black;

}
.eight-four {
    grid-column: 4/5;
    grid-row: 8/9;
    border-right: 1px solid black;
}
.eight-five {
    grid-column: 5/6;
    grid-row: 8/9;
    border-right: 1px solid black;
}
.eight-six {
    grid-column: 6/7;
    grid-row: 8/9;
    border-right: 1px solid black;
}
.eight-seven {
    grid-column: 7/8;
    grid-row: 8/9;
    border-right: 1px solid black;
}
.eight-eight {
    grid-column: 8/9;
    grid-row: 8/9;
}

.colors, .buttons{
    width: 300px;
    margin: 35px auto;
}

.colors{
    position: relative;
}

.red, .green, .blue{
    width: 40px;
    height: 40px;
    position: absolute;
    top: -50px;
    border-radius: 25px;
    left: 22px;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}


.slideThree {
    width: 80px;
    height: 26px;
    background: #333;
    margin: 50px 17px 0 0;
    position: relative;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
    display: inline-block;
}
.slideThree:after {
    content: 'NON';
    color: #000;
    position: absolute;
    right: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}
.slideThree:before {
    content: 'OUI';
    color: #27ae60;
    position: absolute;
    left: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
}
.slideThree label {
    display: block;
    width: 34px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;
    background: #fcfff4;
    background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 50px;
    transition: all 0.4s ease;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.slideThree input[type=checkbox] {
    visibility: hidden;
}
.slideThree input[type=checkbox]:checked + label {
    left: 43px;
}

.btn-primary, .btn-secondary, .btn-tertiary{
    margin-top: 25px;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    text-align: center;
}

.btn-primary{
    background-color: #4c31ff;
    color: #FFFFFF;
    border: 1px solid #FFF;
}

.btn-primary:hover{
    background-color: #FFF;
    color: #4c31ff;
    border: 1px solid #4c31ff;
}

.btn-secondary{
    background-color: #2f9698;
    color: #FFF;
    border: 1px solid #FFF;
}

.btn-secondary:hover{
    background-color: #fff;
    color: #2f9698;
    border: 1px solid #2f9698;
}

.btn-tertiary{
    background-color: #ff2222;
    color: #FFF;
    border: 1px solid #FFF;
}

.btn-tertiary:hover{
    background-color: #fff;
    color: #ff2222;
    border: 1px solid #ff2222;
}

.displayNone{
    display: none;
}

@keyframes die {
    from {
        transform: translateX(0) translateY(0);
    }
    to {
        transform:  translateX(-150px) translateY(120px) rotate(-90deg);
    }
}

@keyframes fall {

    from {
        transform: translateX(0) translateY(0);
    }

    to{
        transform: translateY(200px) rotate(90deg);
    }

}
